<html>
  <body>

    <!-- Tool Description -->
    <h1>Web Page Text and Links</h1>

    <!-- Parameters form -->
    <form action="" method="post">

      <!-- URL Input field -->
      <p>URL:</p>
      <p><input type="text" name="url" /></p>


      <!-- Submit button -->
      <p><input type="submit" name="extract" value="Extract Web Page Text"/></p>

      <!-- Download button -->
      <p><input type="submit" name="download" value="Download"/></p>

      <!-- Result area -->
      <textarea rows="30" name="text" style="width: 100%">{{ text }}</textarea>
    </form>
  </body>
</html>
